/vendor/
/UPGRADE-2.4.md
/UPGRADE-2.3.md
/README.md
/composer.lock
/composer.json
/UPGRADE.md
/UPGRADE-2.2.md
/LICENSE
!/app/config/routing_dev.yml
!/app/config/routing.yml
/app/config/config_prod.yml
/app/config/security.yml
/app/config/config.yml
/app/config/config_dev.yml
/app/config/config_test.yml
/app/config/parameters.yml.dist
/app/config/parameters.yml